# KEEP과 DROP

- 유지(선택)할 컬럼 = KEEP
- 버릴 컬럼 = DROP
- DATA XXX: XXX테이블 생성
- SET YYY: 기존 테이블 YYY를 불러옴
- KEEP ZZZ: 컬럼 ZZZ를 테이뷸에서 유지
- DROP PPP: 컬럼 PPP를 테이블에서 버림

#### KEEP

```SAS
DATA TEST;     /* TEST 테이블을 생성 */
SET SASHELP.CLASS(KEEP=NAME AGE);     /* SASHELP라이브러리에서 CLASS테이블을 불러옴. 이때 NAME, AGE컬럼만 유지 */
RUN;
```

#### 위와 동일한 결과를 보여줌

```SAS
DATA TEST(KEEP=NAME AGE);     /* TEST테이블을 생성. 이때 NAME, AGE컬럼만 유지 */
SET SASHELP.CLASS;     /* SASHELP라이브러리에서 CLASS테이블을 불러옴. 이때는 전체 컬럼 다 유지함 */
RUN;
```

#### DROP

```SAS
DATA TEST;
SET SASHELP.CLASS(DROP=NAME AGE);     /* SASHELP라이브러리에서 CLASS테이블을 불러옴. 이때 NAME, AGE컬럼은 버림 */
RUN;
```

# 수식을 활용한 계산

- YYY=XXX+N: YYY컬럼을 숫자컬럼XXX에 숫자 N을 더한 변수로 정의
- YYY+N: 숫자컬럼YYY에 숫자 N을 더함

```SAS
DATA TEST;
SET SASHELP.CLASS;
AGE2=AGE+1;     /* AGE2컬럼을 생성. AGE2컬럼은 AGE컬럼에 1을 더한 값 */
RUN;
```

```SAS
DATA TEST;
SET SASHELP.CLASS;
AGE+1;     /* AGE컬럼에 1을 더한 값을 저장함(AGE컬럼이 바뀜) */
AGE2=AGE+1;     /* AGE2컬럼을 생성. AGE2컬럼은 바뀐 AGE컬럼에 1을 더한 값 */
RUN;
```

# 단순 IF구문

- IF XXX=N: 숫자컬럼 XXX가 N인 행들만 선택
- IF YYY='ZZ': 문자컬럼 YYY가 ZZ인 행들만 선택
- IF PPP^=N: 숫자컬럼 PPP가 N이 아닌 행들만 선택
- IF XXX=N AND YYY='ZZ': 컬럼 XXX가 N이고 컬럼 YYY가 ZZ인 행들만 선택(AND 대신 OR 하면 둘 중 하나만 해당해도 선택)
- IF XXX IN (N1, N2): 컬럼 XXX가 N1이거나 N2인 행을 선택(IN 대신 NOT IN하면 아닌 행 선택)

#### AGE컬럼이 12인 행만 선택

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF AGE=12;
RUN;
```

#### NAME컬럼이 필립인 행만 선택

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF NAME='필립';
RUN;
```

#### AGE컬럼이 12가 아닌 행만 선택

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF AGE^=12;
RUN;
```

#### AGE컬럼이 12이고 NAME컬럼이 존인 행만 선택

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF AGE=12 AND NAME='존';
RUN;
```

#### AGE컬럼이 12이거나 13인 행만 선택

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF AGE=12 OR AGE=13;
RUN;
```

#### AGE컬럼이 12 또는 13이 아닌 행만 선택

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF AGE NOT IN (12, 13);
RUN;
```

# IF구문을 활용한 컬럼 변환

- IF XXX=N THEN YYY+2: XXX컬럼이 N이면 YYY컬럼에 2를 더한 값을 출력
- IF XXX=N THEN DELETE: XXX컬럼이 N이면 해당 행을 삭제
- IF XXX=N THEN NEW='새로운컬럼': XXX컬럼이 N이면 NEW컬럼을 생성하고 '새로운컬럼'이라는 값이 나오도록 함
- IF XXX=N THEN NEW=YYY+2; ELSE NEW=ZZZ+3: XXX컬럼이 N이면 YYY컬럼에 2를 더한 값을 NEW컬럼에 출력하고 XXX가 N이 아닌 경우 ZZZ에 3을 더한 값을 NEW컬럼에 출력

#### AGE컬럼이 12이면 HEIGHT컬럼에 300을 더해서 출력

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF AGE=12 THEN HEIGHT+300;
RUN;
```

#### AGE컬럼이 12이면 해당 행을 삭제

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF AGE=12 THEN DELETE;
RUN;
```

#### AGE컬럼이 12이면 새로운 컬럼 NEW에 '새로운컬럼'이라는 값을 출력

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF AGE=12 THEN NEW='새로운컬럼';
RUN;
```

#### AGE컬럼이 12이면 새로운 NEW컬럼에 '십이'를 넣고 AGE컬럼이 13이면 NEW컬럼에 '십삽'을 출력하고 그외는 NEW컬럼에 '그외'를 출력

```SAS
DATA TEST;
SET SASHELP.CLASS;
IF AGE=12 THEN NEW='십이';
ELSE IF AGE=13 THEN NEW='십삼';
ELSE NEW='그외';
RUN;
```